/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@layer components {
    .sidebar-icon {
        @apply relative flex items-center justify-center
                h-12 w-12 mx-auto shadow-lg bg-gray-800
                text-green-500 rounded-3xl my-1.5
                hover:rounded-xl hover:bg-green-600
                hover:cursor-pointer hover:text-white
                transition-all duration-300 ease-linear;
    }

    .sidebar-tooltip {
        @apply absolute w-auto p-2 m-2 min-w-max left-14
                rounded-md shadow-md text-white bg-gray-900
                text-xs font-bold
                transition-all duration-100 scale-0 origin-left;
    }
}
